@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>رايت كير</h1>
    <p class="lead">رايت كير احدى الشركات الرائدة في انتاج مستحضرات التجميل</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

