@model RightCareSite.Models.DataBase.Product_Tble

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 align="right">هل تريد حذف الصنف التالي ؟؟</h3>
<div align="right">
    <hr />
    <dl class="dl-horizontal">

        <h3>
         <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        </h3>
        <dd>
            @Html.DisplayFor(model => model.SelPrice)
        </dd>
      
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("العودة لقائمة الاصناف", "Index")
        </div>
    }
</div>
