@model RightCareSite.Models.DataBase.CUST_TBL

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>هل انت متأكد من حذف العميل التالي؟؟؟</h3>
<div>
    <h3> @Html.DisplayFor(model => model.CUST_NAME)</h3>
    <hr />
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("العودة لقائمة العملاء", "Index")
        </div>
    }
</div>
